body {
    background: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica';
    overflow: hidden;
}

/* Containers */
#titleContainer, #textContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#cardTemplate {
    display: none;
}

/* Placement grid */
.container {
    margin: 0px;
    padding: 0px;
}

.row {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.col {
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
}

.attrPanel {
    margin: 0 1em 0 1em;
}

/* The title card */
.pageTitle {
    position: absolute;
    display: block;

    text-align: center;
    font-size: 3em;
    color: rgb(232, 232, 232);

    border: solid 0.1em rgb(64, 140, 64);
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: rgb(32, 108, 32);
}

/* Common person card class */
.card {
    position: absolute;
    display: block;

    border: solid 0.3em rgb(92, 92, 92);
    border-radius: 1.0em;
    padding: 0.5em;
    background-color: rgb(56, 56, 56);
    margin: 0em;
}

/* Elements within cards */
.icon {
    width: 8%;
    height: auto;
    color: rgb(128, 128, 128);
}

.nameLabel {
    fill: rgb(232, 232, 232);
    text-anchor: middle;
    font-size: 2em;
    overflow: visible;
}

.extraNamesLabel {
    fill: rgb(192, 192, 192);
    text-anchor: middle;
    font-size: 1.5em;
    font-style: italic;
    overflow: visible;
}

.attrLabel {
    fill: rgb(192, 192, 192);
    text-anchor: left;
    font-size: 1.5em;
    overflow: hidden;
}
